doctype html
html(lang="jp")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title top
    body
        include ./inc/menu.pug
        h1 hello webpack
        img(src="../img/icon.png")
        img(src="../img/thumbnail.jpg")
